body {
  font-family: sans-serif;
} 

#root > div {
  margin: 0 auto;
  width: 75%;
}

.navbarSearch {
  width: 100%
}

.navbarSearch > div:first-child {
  padding-left: 10px;
}

.profileCard {
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  /* margin-bottom: 20px; */
}

.profileEditField {
  margin-left: 5px;
}

.profileField {
  display: inline;
  vertical-align: super;
  margin-left: 5px;
}

.profileTabs {
  width: 75%;
  margin: 0 auto;
}

.kweetCard {
  /* width: 75%; */
  margin: 0 auto;
  margin-bottom: 20px;
}

.kweetDate {
  position: 'relative';
  top: -90px;
  right: -340px;
  color: rgba(0, 0, 0, 0.54);
}

.kweetCreate {
  background-color:#fff;
  font:bold 14px;
  color:#1E88E5;
  width:100%;
  height:auto;
  padding:1%;
  border-top:1px solid #1E88E5;
  bottom: 0; 
  position: fixed;  
}