<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>Administrator</role-name>
    </security-role>

    <security-role>
        <role-name>Moderator</role-name>
    </security-role>

    <security-role>
        <role-name>User</role-name>
    </security-role>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>KwetterRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>Administrator</web-resource-name>-->
            <!--<url-pattern>/admin/*</url-pattern>-->
            <!--<http-method>POST</http-method>-->
            <!--<http-method>GET</http-method>-->
            <!--<http-method>PUT</http-method>-->
            <!--<http-method>DELETE</http-method>-->
        <!--</web-resource-collection>-->

        <!--<auth-constraint>-->
            <!--<role-name>Administrator</role-name>-->
            <!--<role-name>Moderator</role-name>-->
        <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!--<context-param>-->
        <!--<param-name>primefaces.THEME</param-name>-->
        <!--<param-value>pepper-grinder</param-value>-->
    <!--</context-param>-->
</web-app>
